cryptography
cyclonedx-bom==3.7.2
Jinja2
Markdown
mkdocs==1.4.2
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
mkdocs-material==8.5.10
mkdocs-minify-plugin
pip-audit==2.4.5
pygments
pymdown-extensions
pyOpenSSL
wheel
yamllint==1.28.0
