cryptography ~= 38.0.4
cyclonedx-bom == 3.7.2
Jinja2 ~= 3.1.2
Markdown ~= 3.3.7
mkdocs == 1.4.2
mkdocs-git-revision-date-localized-plugin ~= 1.1.0
mkdocs-macros-plugin ~= 0.7.0
mkdocs-material == 8.5.10
mkdocs-minify-plugin ~= 0.6.1
pip-audit == 2.4.7
Pygments ~= 2.13.0
pymdown-extensions ~= 9.8
PyOpenSSL ~= 22.1.0
wheel ~= 0.38.3
yamllint == 1.28.0
