cryptography
cyclonedx-bom==3.7.1
Jinja2
Markdown
mkdocs==1.4.1
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
mkdocs-material==8.5.7
mkdocs-minify-plugin
pip-audit==2.4.4
pygments
pymdown-extensions
pyOpenSSL
wheel
yamllint==1.28.0
